<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html"
>
<head>
    <meta charset="UTF-8">
    <title>Nouveau Celebrite</title>
</head>
<body>
<div layout:fragment="content" >
    <div class="row mt-3" >
        <div class="col-md-6 offset-3" >
            <div class="card" >
                <div class="card-header" >
                    Nouveau Lieux
                </div>
                <div class="card-body">
                    <div class="p-3" >
                        <form th:action="@{/admin/saveLieu}" method="post">
                            <div class="mb-2">
                                <label class="form-label" for="codeInsee">Code INSEE:</label>
                                <input class="form-control" type="text" id="codeInsee" name="codeInsee" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="nomCom">Nom de la commune:</label>
                                <input class="form-control" type="text" id="nomCom" name="nomCom" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="longitude">Longitude:</label>
                                <input class="form-control" type="number" id="longitude" name="longitude" step="any" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="latitude">Latitude:</label>
                                <input class="form-control" type="number" id="latitude" name="latitude" step="any" required/>
                            </div>

                            <div class="mb-2">
                                <label class="form-label" for="dept">Département</label>
                                <select class="form-select" id="dept" name="dept" required>
                                    <option value="" selected disabled>Sélectionner le département</option>
                                    <option th:each="dept : ${departements}" th:value="${dept.dep}" th:text="${dept.nomDep}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Ajouter un lieu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
