<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html">
<head>
    <meta charset="UTF-8">
    <title>Nouveau Jardin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header">
                    Nouveau Jardin
                </div>
                <div class="card-body">
                    <div class="p-3">
                        <form th:action="@{/admin/saveJardin}" method="post">
                            <div class="mb-2">
                                <label class="form-label" for="nomDuJardin">Nom du Jardin:</label>
                                <input class="form-control" type="text" id="nomDuJardin" name="nomDuJardin" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="commune">Commune:</label>
                                <input class="form-control" type="text" id="commune" name="commune" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="adresseComplete">Adresse:</label>
                                <input class="form-control" type="text" id="adresseComplete" name="adresseComplete" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="type">Type:</label>
                                <input class="form-control" type="text" id="type" name="type" required/>
                            </div>
                            <div class="mb-2">
                                <label class="form-label" for="dateDeCreation">Date de Création:</label>
                                <input class="form-control" type="date" id="dateDeCreation" name="dateDeCreation" required/>
                            </div>

                            <div class="mb-2">
                                <label class="form-label" for="codeLieu">Code INSEE</label>
                                <select class="form-select" id="codeLieu" name="codeLieu" required>
                                    <option value="" selected disabled>Sélectionner le lieu</option>
                                    <option th:each="lieu : ${lieux}" th:value="${lieu.codeInsee}" th:text="${lieu.nomCom}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Ajouter un jardin</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
