<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1.html">
<head>
    <script src="webjars/bootstrap/5.3.2/js/bootstrap.bundle.js"></script>
    <meta charset="UTF-8">
    <title>Départements</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <div class="card">
            <div class="card-header">Liste Départements</div>
            <div class="card-body">
                <form th:action="@{lieux}" method="get">
                    <label>Mot Clé:</label>
                    <input type="text" name="keyword" placeholder="Rechercher par nom du lieu" th:value="${keyword}"/>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Code INSEE</th>
                        <th>Nom de la commune</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Département</th>
                        <th>Monuments</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lieu : ${lieux}">
                        <td th:text="${lieu.codeInsee}"></td>
                        <td th:text="${lieu.nomCom}"></td>
                        <td th:text="${lieu.longitude}"></td>
                        <td th:text="${lieu.latitude}"></td>
                        <td th:text="${lieu.dept.dep}"></td>
                        <td>
                            <button class="btn btn-info" >Monuments</button>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}" >
                            <a onclick="javascript:return confirm('etes vous sure ?')" th:href="@{/admin/deleteLieu(id=${lieu.codeInsee},keyword=${keyword})}" class="btn btn-danger" >
                                <i class="bi bi-trash" ></i>
                            </a>
                            <a th:href="@{/admin/editLieu(id=${lieu.codeInsee})}" class="btn btn-success" >
                                <i class="bi bi-pencil"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/formLieu}" class="btn btn-outline-dark">Ajouter un Lieu</a>
    </div>
</div>
</body>
</html>
