<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Se connecter</h4>
                <div class="p-3">
                    <form class="form-signin" method="post" action="/login">
                        <div class="mb-2">
                            <label class="form-label" for="geohash">Nom de l'utilisateur</label>
                            <input class="form-control" type="text" id="geohash" name="username" required/>
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="nom">Mot de passe</label>
                            <input class="form-control" type="password" id="nom" name="password" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </form>
                    <a class="link-info text-center mt-5" href="/signup">Je n'ai pas un compte</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body></html>